$font: 'Anonymous Pro', monospace;
$brandcolour: #090952;
$MenuFontSize: 28px;


/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
  @media (min-width: 768px){
      display: none;
    }
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  font-family: $font;
  color: $brandcolour;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

/* Style the active link (or home/logo) */
.active {
  background-color: white;
  color: white;
}

#Logo{
  width: 100%;
    @media (min-width: 768px){
      width: 90%;
    }
}

.menu{
  display: none;
  a{
    display: none;
  }
  @media (min-width: 768px){
  border-bottom: $brandcolour solid 2px;
   a{
     display: block;
    font-family: $font;
    color: $brandcolour;
     font-size: $MenuFontSize;
    } 
  a:hover{
    text-decoration: none;
    color: slategrey;
//    font-weight: 550;
//    padding-top: 10px;
//    border-top: $brandcolour solid 1px;
  }
  }
}

#mobileImage{
  display: flex;
  @media (min-width: 768px) {
    display: none;
  }
}
#desktopImage{
  display: none;
  @media (min-width: 768px) {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.AboutSection{
  margin-top: 30px;
}

.title{
  font-weight: 500;
}

.price{
  font-weight: 500;
}

.btn.btn-outline{
  color: $brandcolour;
  border-color: $brandcolour;
}

.btn:hover{
  background-color: $brandcolour;
  color: white;
}

.footer{
  border-top: solid 2px $brandcolour;
  margin-top: 20px;
}

.fab{
  color: $brandcolour;
  padding: 10px;
}

.carousel{
  margin-top: 20px;
  width: 70%;
  overflow: hidden;
  object-position: 0% 50%;
}